.DS_Store

.coverage

.python-version

**/__pycache__/

.pytest_cache

.ruff_cache

**/_build/

**/build/

cdp_sdk.egg-info/

venv/
.venv/

env/
.env/
.env.local/
.env.test/

*~
\#*\#
.\#*
.projectile

.idea/